:root {
    --ftwgt-200: 200;
    --ftwgt-400: 400;
    --ftwgt-600: 600;

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);    
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/* COMPOSITION */



/* UTILITIES */

.normal-text {
    font-weight: var(--ftwgt-400);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* BLOCKS */


/* EXCEPTIONS */